- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

In [1]:
bool()

False

In [2]:
True

True

In [3]:
False

False

In [4]:
bool(True)

True

In [5]:
bool(False)

False

In [6]:
type(True)

bool

In [7]:
type(bool())

bool

In [8]:
name = "arayan"

In [10]:
name.capitalize()

'Arayan'

In [11]:
name.isalnum()

True

In [16]:
name = "arayan a"
name.isalnum()

False

In [19]:
name.startswith("a")

True

In [20]:
name.startswith("A")

False

In [21]:
name.endswith("c")

False

### https://towardsdatascience.com/useful-string-methods-in-python-5047ea4d3f90
### https://www.youtube.com/watch?v=PNoP79KxI98&ab_channel=curquest

In [22]:
name = "ABC is ABC"

In [26]:
name.count("ABC")

2

In [27]:
"7".zfill(3)

'007'

In [28]:
"-7".zfill(3)

'-07'

In [29]:
"-7".zfill(1)

'-7'

In [31]:
"-".zfill(4)

'-000'

In [32]:
"".zfill(4)

'0000'

# Boolean and Logical Operators

In [33]:
True and False

False

In [34]:
True or False

True

In [35]:
not True

False

# Lists

In [36]:
type([])

list

In [41]:
names = ["rohan","mohan"]
type(names)

list

In [42]:
names.append("karan")
names

['rohan', 'mohan', 'karan']

In [43]:
len(names)

3

In [46]:
#indexing
names[2]

'karan'

In [47]:
names[1:3]

['mohan', 'karan']

In [48]:
#insert
names.insert(1, "sohan")

In [49]:
names

['rohan', 'sohan', 'mohan', 'karan']

In [51]:
names.insert(1,["param","karam"])

In [52]:
names

['rohan', ['param', 'karam'], 'sohan', 'mohan', 'karan']

In [53]:
names.extend(["muri","puri"])
names

['rohan', ['param', 'karam'], 'sohan', 'mohan', 'karan', 'muri', 'puri']

In [54]:
sum(names)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
nums = [1,2,3,4,5,6]
sum(nums)

21

In [57]:
nums2 = [1,2,3,4,5,6,"sohan"]
sum(nums2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
nums2.pop()

'sohan'

In [60]:
nums2

[1, 2, 3, 4, 5, 6]

In [61]:
nums2.pop(1)

2

In [62]:
nums2

[1, 3, 4, 5, 6]

In [64]:
nums.append(1)
nums

[1, 2, 3, 4, 5, 6, 1, 1]

In [66]:
nums.count(1)

3

In [73]:
nums.index(2)

1

In [74]:
nums.index(2,2,4)

ValueError: 2 is not in list

In [75]:
min(nums)

1

In [76]:
max(nums)

6

In [77]:
nums

[1, 2, 3, 4, 5, 6, 1, 1]

In [108]:
nums*2

[1, 2, 3, 4, 5, 6, 1, 1, 1, 2, 3, 4, 5, 6, 1, 1]

# SET

In [113]:
num_set = set()
type(num_set)

set

In [114]:
num_set2 = {}
type(num_set2)

dict

In [82]:
type(num_set)

set

In [172]:
num_set = {1,1,2,3,4,5}

In [173]:
num_set[0]

TypeError: 'set' object does not support indexing

In [174]:
num_set

{1, 2, 3, 4, 5}

In [175]:
type(num_set)

set

In [176]:
num_set.add(6)
num_set

{1, 2, 3, 4, 5, 6}

In [177]:
num_set.update([7,8,9]) #update() method. It accepts iterable as an argument.

In [178]:
num_set.update((10,11,12)) #update() method. It accepts iterable as an argument.

In [179]:
num_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [180]:
#using discard() function if the item does not exist in the set then the set remain unchanged 
# whereas remove() method will through an error
num_set.remove(13)

KeyError: 13

In [181]:
num_set.discard(13)

In [182]:
num_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [183]:
num_set.discard(11)
num_set.remove(12)
num_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [184]:
#pop() method will always remove the last item but the set is unordered, 
#we can't determine which element will be popped from set
num_set.pop()

1

In [185]:
num_set

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [92]:
set1 = {"JAVA","C","C++","Python"}
set2 = {"Python","ML","AI","DL"}

In [94]:
set1.difference(set2) # set1 - set2

{'C', 'C++', 'JAVA'}

In [95]:
set1

{'C', 'C++', 'JAVA', 'Python'}

In [96]:
set1.difference_update(set2)

In [97]:
set1

{'C', 'C++', 'JAVA'}

In [103]:
set1 = {"JAVA","C","C++","Python"}
set2 = {"Python","ML","AI","DL"}

In [104]:
set1.intersection(set2)

{'Python'}

In [100]:
set1

{'C', 'C++', 'JAVA', 'Python'}

In [105]:
set1.intersection_update(set2)

In [145]:
set1

{'Python'}

In [146]:
set_3 = {1,2,3,["ram","shyam"]}

TypeError: unhashable type: 'list'

In [148]:
set_3 = {1,2,3,("ram","shyam")}

In [186]:
set_3

{('ram', 'shyam'), 1, 2, 3}

### https://www.javatpoint.com/python-set
### https://www.youtube.com/watch?v=r3R3h5ly_8g&ab_channel=CoreySchafer

In [188]:
dictionary = {"Name":"John", "Country":"USA", "ID":1}     
print(type(dictionary))    
dictionary = frozenset(dictionary); #Frozenset will contain the keys of the dictionary   
print(type(dictionary))    
print(dictionary)

<class 'dict'>
<class 'frozenset'>
frozenset({'ID', 'Name', 'Country'})

In [190]:
{dictionary:"Hi"}

{frozenset({'Country', 'ID', 'Name'}): 'Hi'}

# dict

In [115]:
my_dict = dict()
type(my_dict)

dict

In [116]:
my_dict = {"One":1,"Two":2}

In [117]:
my_dict["One"]

1

In [122]:
for x in my_dict:
    print(x)

One
Two

In [123]:
for x in my_dict.keys():
    print(x)

One
Two

In [119]:
for x in my_dict.values():
    print(x)

1
2

In [130]:
for x in my_dict.items():
    print(x)
    print(type(x))
    print(x[0],x[1])

('One', 1)
<class 'tuple'>
One 1
('Two', 2)
<class 'tuple'>
Two 2
('Three', 4)
<class 'tuple'>
Three 4

In [124]:
my_dict["Three"] = 3
my_dict

{'One': 1, 'Two': 2, 'Three': 3}

In [125]:
my_dict["Three"] = 4
my_dict

{'One': 1, 'Two': 2, 'Three': 4}

In [126]:
num_dict = {"num":my_dict}

In [127]:
num_dict

{'num': {'One': 1, 'Two': 2, 'Three': 4}}

In [128]:
type(num_dict["num"])

dict

In [129]:
num_dict["num"]

{'One': 1, 'Two': 2, 'Three': 4}

# Tuple

In [131]:
my_tuple = ("One","Two","Three")

In [132]:
my_tuple[2]

'Three'

In [133]:
my_tuple[2] = "Four"

TypeError: 'tuple' object does not support item assignment

In [137]:
my_tuple = ("karan","karan","mohan")
my_tuple

('karan', 'karan', 'mohan')

In [138]:
my_tuple.count("karan")

2

In [139]:
my_tuple.index("karan")

0

In [140]:
my_tuple[2]

'mohan'

In [141]:
my_tuple[3] = "chohan"

TypeError: 'tuple' object does not support item assignment

In [142]:
dict = {("Mike",22):24000}    #valid dictionary

In [143]:
dict = {["Peter",26]:25000}

TypeError: unhashable type: 'list'

In [144]:
dict[("Mike",22)]

24000